@tailwind base;

@tailwind components;

@tailwind utilities;

.frame-fade-in:empty{
    @apply opacity-0
}
.h-0vh{
    height: 0vh;
}
.h-10vh{
    height: 10vh;
}
.min-h-90vh{
    min-height: 90vh;
}
.mt-10vh{
    margin-top: 10vh;
}